<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BBS</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Encoding</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ckWlcm</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ckWlcm</filter-name>
    <url-pattern>/mainbbs.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ckWlcm</filter-name>
    <url-pattern>/adminPortail.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ckWlcm</filter-name>
    <url-pattern>/content.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ckWlcm</filter-name>
    <url-pattern>/newContent.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ckWlcm</filter-name>
    <url-pattern>/replyContent.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ckWlcm</filter-name>
    <url-pattern>/section.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ckWlcm</filter-name>
    <url-pattern>/user.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BBSServlet</display-name>
    <servlet-name>BBSServlet</servlet-name>
    <servlet-class>servlets.BbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSServlet</servlet-name>
    <url-pattern>/BBS/QueryAllAction</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ShowTopicServlet</display-name>
    <servlet-name>ShowTopicServlet</servlet-name>
    <servlet-class>servlets.ShowTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTopicServlet</servlet-name>
    <url-pattern>/ShowTopicAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopicServlet</display-name>
    <servlet-name>AddTopicServlet</servlet-name>
    <servlet-class>servlets.AddTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopicServlet</servlet-name>
    <url-pattern>/AddTopicAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/BBS/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTransferServlet</display-name>
    <servlet-name>UserTransferServlet</servlet-name>
    <servlet-class>servlets.UserTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTransferServlet</servlet-name>
    <url-pattern>/BBS/UserTransferAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModTopicServlet</display-name>
    <servlet-name>ModTopicServlet</servlet-name>
    <servlet-class>servlets.ModTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModTopicServlet</servlet-name>
    <url-pattern>/ModTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserServlet</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>servlets.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/BBS/DelUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyTopicServlet</display-name>
    <servlet-name>ReplyTopicServlet</servlet-name>
    <servlet-class>servlets.ReplyTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyTopicServlet</servlet-name>
    <url-pattern>/ReplyTopicAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataTransferServlet</display-name>
    <servlet-name>DataTransferServlet</servlet-name>
    <servlet-class>servlets.DataTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataTransferServlet</servlet-name>
    <url-pattern>/TransferAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSectionServlet</display-name>
    <servlet-name>ShowSectionServlet</servlet-name>
    <servlet-class>servlets.ShowSectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSectionServlet</servlet-name>
    <url-pattern>/ShowSectionAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CodeFiliter</display-name>
    <filter-name>CodeFiliter</filter-name>
    <filter-class>servlets.CodeFiliter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CodeFiliter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>servlets.UserListListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ShowUserServlet</display-name>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>servlets.ShowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/BBS/ShowUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModUserServlet</display-name>
    <servlet-name>ModUserServlet</servlet-name>
    <servlet-class>servlets.ModUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModUserServlet</servlet-name>
    <url-pattern>/BBS/ModUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>servlets.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/BBS/FindUserAction</url-pattern>
  </servlet-mapping>
</web-app>